{erl_opts, [debug_info]}.
{deps, [
    {atomvm_websocket_client,
        {git, "https://github.com/nerves-hub/atomvm_websocket_client.git", {branch, "main"}}},
    {nerves_hub_link_atomvm_esp32,
        {git, "https://github.com/nerves-hub/nerves_hub_link_atomvm_esp32.git", {branch, "main"}}}
]}.
{plugins, [atomvm_rebar3_plugin, erlfmt]}.
